%% -*- erlang -*-

{erl_opts, [debug_info]}.
{deps, [%%{zuuid, {git, "https://gitlab.com/zxq9/zuuid", {tag, "v2.0.0"}}}
       ]}.
{cover_enabled, true}.
{plugins, [rebar3_proper]}.

{relx, 
 [{release, {pm, "0.2.0"},
   [zuuid,
    sasl]},
  
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  
  {dev_mode, true},
  {include_erts, false},
  
  {extended_start_script, true}]
}.

{profiles,
 [{prod,
   [{relx, [{dev_mode, false},
	    {include_erts, true}]}]},
  {test, [{erl_opts, [nowarn_export_all]},
	  {deps, [proper]}
	 ]}
 ]}.

%% auto-boot the app when calling `rebar3 shell' or `rebar3 auto'
{shell, [{apps, [pm]}]}.
{auto, [{apps, [pm]}]}.
